<a href="https://colab.research.google.com/github/syedareehaquasar/python/blob/master/basics%20%2B%20collatz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# show numbers from 1 to 10
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# show even numbers drom 2 to 10
for i in range(2, 11, 2):
  print(i)

2
4
6
8
10

In [4]:
#program to add 2 numbers
def add_numbers(x, y):
  return x + y

print(add_numbers(10, 20))
print(add_numbers(100, 20))

30
120

In [5]:
# largest of 2 numbers
def find_largest(x, y):
  return max(x, y)

print(find_largest(10, 20))
print(find_largest(100, 101))

20
101

In [8]:
# sum 1 to 10
def sum_in_range(n):
  return sum(range(n))

print(sum_in_range(11))

55

In [9]:
# sum 1 to 10
sum_cal = 0
for i in range(1, 11):
  sum_cal += i
print(sum_cal)

55

My own

In [ ]:
def next_collatz(n: int) -> int:
  return n // 2 if n % 2 == 0 else 3 * n + 1

In [ ]:
def collatz_seq(n: int) -> [int]:
  if n == 4:
    return [4, 2, 1]
  else:
    return [n] + collatz_seq(next_collatz(n))

In [ ]:
collatz_seq(7)

[7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

In [ ]:
import math

In [ ]:
math.gcd?